
#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  position: static;
  padding-left: 2em;
  padding-right: 2em;

}


#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
  padding-right: 10px;
}

#nav-bar .header {
  float: left;
  line-height: 150%;
  font-size: 3em;
}

#nav-bar .button {
  /*width: 150px;
  height: 80px;


  line-height: 70%;*/
  float: right;
  font-size: 90%;
  margin: auto;
  padding:  30px;
  padding-bottom: 20px;

}